{% block extrahead %}
    {% load static %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
    <style>
        #chat-messages {
            height: 250px;
            width: 700px;
            border: 3px solid white;
            border-radius: 10px;
            overflow-y: auto;
            padding: 10px;
        }
    
        .message {
            margin-bottom: 10px;
        }
    
        .user-message {
            text-align: left;
        }
    
        .gpt-message {
            text-align: right;
        }
    
        .speech-bubble {
            background-color: #f1f1f1;
            color: black;
            padding: 10px;
            border-radius: 8px;
            display: inline-block;
            max-width: 80%;
            overflow-y: auto; 
        }
    </style>
<head>
    <title>Django ChatGPT</title>
    <meta charset="utf-8">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <link href="{% static 'gpt/style.css' %}" rel="stylesheet">
</head>

<body id="page-top">
    
    {% include 'navbar.html' %}

    <header class="masthead text-center text-white">
        <div class="masthead-content" style="min-height:600px;">
            <h2 class="masthead-subheading mb-5">ChatGPT에게 질문하기</h2>
            <div class="chat-container">
                <div id="chat-messages"></div>
                <br>
                <form id="chat-form" method="post" enctype="application/x-www-form-urlencoded" >
                    {% csrf_token %}
                    <div id="file-module-0" >
                        <label style="color: black;" >전송할 메세지</label>
                        <textarea id="question" name="question" style="height:50px;"></textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-xl rounded-pill mt-0" id="text-button" type="submit">질문</button>
                    </div>
                    <br>
                    <div id="loading-indicator">
                        <div id="loading-bar"></div>
                    </div>
                </form>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('form').submit(function (e) {
                    e.preventDefault(); 
                    var questionValue = $('#question').val().trim();

                    if (questionValue === '') {
                        showError('입력된 메세지가 없습니다.');
                    } else {
                        showLoadingIndicator();
                        appendUserMessage(questionValue);
                        $.ajax({
                            type: 'POST',
                            url: 'chat',
                            data: {
                                'question': questionValue,
                                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                            },
                            success: function (data) {
                                appendGPTMessage(data.result);
                                hideLoadingIndicator();
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                showError('Error: ' + errorThrown);
                                hideLoadingIndicator();
                            }
                        });
                    }
                });

                function showLoadingIndicator() {
                    $('#loading-indicator').css('display', 'block');
                }

                function hideLoadingIndicator() {
                    $('#loading-indicator').css('display', 'none');
                }

                function showError(message) {
                    alert(message);
                }

                function scrollToBottom() { // 스크롤 자동으로 내려주는 함수
                    var chatMessages = document.getElementById('chat-messages');
                    chatMessages.scrollTop = chatMessages.scrollHeight;
                }

                function appendUserMessage(message) {
                    $('#chat-messages').append('<div class="message user-message"><div class="speech-bubble">' + message + '</div></div>');
                    scrollToBottom();
                }
        
                function appendGPTMessage(message) {
                    $('#chat-messages').append('<div class="message gpt-message"><div class="speech-bubble">' + message + '</div></div>');
                    scrollToBottom();
                }
            });
        </script>

        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>

    {% include 'footer.html' %}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
